@import "tailwindcss";

@theme {
  --color-background: #FADDC3;
  --color-primary: #EFC3E6;
  --color-secondary: #B8BEDD;
  --color-surface: #F0A6CA;
  --color-error: #9C89B8;
  --color-color-text: #0A0A0A;
  --color-color-text-secondary: #766949;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-color-text);
  }

  header {
    background-color: var(--color-background);
  }

  h1,h2 {
    color: var(--color-color-text-secondary);
  }
}

@layer components {
  .btn {
    background-color: var(--color-surface);
    border-radius: var(--radius-md);
    border-width: 1px;
    padding: calc(var(--spacing) * 1);
    &:hover {
      @media (hover: hover) {
        background-color: var(--color-primary);
      }
    }
    &:disabled {
      border-color: var(--color-gray-400);
      background-color: var(--color-gray-300);
      color: var(--color-gray-500);
    }
    &:active {
      background-color: var(--color-primary);
    }
  }
  .text-box {
    background-color: color-mix(in oklab, var(--color-surface) 30%, transparent);
    border-radius: var(--radius-md);
    border-width: 1px;
    padding: calc(var(--spacing) * 1);
    &:disabled {
      border-color: var(--color-gray-400);
      background-color: var(--color-gray-300);
      color: var(--color-gray-500);
    }
  }
}
